<div class="list-group">
  <a href="#" class="list-group-item text-capitalize">Fruits</a>
  <a href="#" class="list-group-item text-capitalize">Vegetables</a>
  <a href="#" class="list-group-item text-capitalize">CLothes</a>
</div>